@media (max-width: 1024px) {
    .menu {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .contact {
        display: none;
    }

    .search-container {
        display: none;
        margin: 15px 0;
        width: 100%;
    }

    .search-container.active {
        display: flex;
        max-width: 60%;
    }

    .mobile-menu-btn {
        display: block;
    }

    .bottom-nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        display: none;
        padding: 15px;
    }

    .menu.active {
        display: flex;
    }

    .right-icons {
        width: 100%;
        justify-content: flex-end;
        padding: 15px;
        border-top: 1px solid #eee;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .web {
        display: none;
    }

    .product-service-section {
        flex-direction: column;
        gap: 10px;
    }

    .service-products {
        width: 100%;
        line-height: 0;
    }

    .service-details {
        width: 55%;
    }

    .dimond-collection {
        flex-direction: column;
        padding: 10px;
        margin-bottom: 0;
    }

    .dimond-collection img {
        width: 60%;
        margin-bottom: 0;
    }

    .dimond-collection-content h5 {
        font-size: 34px;
    }

    .dimond-collection-content {
        width: 100%;
        padding-left: 0;
    }

    .btn-diamond-Collection {
        width: 100%;
        text-align: center;
    }

    .testimonial-box {
        flex-direction: column;
    }

    .testimonial-left {
        padding: 15px;
        text-align: center;
    }

    .testimonial-left p {
        text-align: center;
    }

    .testimonial-left .quote-mark {
        font-size: 3rem;
    }

    .testimonial-right {
        padding: 15px;
    }

    .testimonial-content h4 {
        font-size: 1.1rem;
    }

    .testimonial-content p {
        font-size: 0.9rem;
    }

    .stars {
        position: inherit;

    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input,
    .newsletter-form button {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .stars span {
        font-size: 1.2rem;
    }

    .dot {
        height: 8px;
        width: 8px;
    }

    .testimonial-content {
        min-height: 245px;
    }
}